.mainContainer {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    gap: 2rem;
    padding: 2rem;

    height: calc(100vh - 80px); 
}

.productsSection {
    background-color: var(--color-surface);
    border-radius: 12px;
    padding: 2rem;
    overflow-y: auto;
}

.productsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1.5rem;
    margin-top: 1.5rem;
}

.productCard {
    border-radius: 12px;
    border: 1px solid var(--color-border);
    cursor: pointer;
    transition: box-shadow 0.2s, transform 0.2s;
    background-color: var(--color-background);
}

.productCard:hover {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.7);
    transform: translateY(-4px);
}
.productCard img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
}

.productInfo {
    padding: 1rem;
}

.productInfo h3 {
    font-weight: 600;
    font-size: 1.1rem;
    color: var(--color-text-primary);
}

.productInfo p {
    margin-top: 0.25rem;
    font-size: 0.9rem;
    color: var(--color-text-secondary);
    text-transform: uppercase;
}

.productPrice {
    display: block;
    margin-top: 0.5rem;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--color-primary-dark);
}

.orderSection {
    background-color: var(--color-surface);
    border-radius: 12px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.orderHeader {
    border-bottom: 1px solid var(--color-border);
    padding-bottom: 1rem;
}

.orderInfo {
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 0.9rem;
}

.orderInfo span {
    color: var(--color-text-secondary);
}

.orderInfo strong {
     color: var(--color-text-primary);
}

.orderBodyEmpty {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-text-secondary);
    opacity: 0.7;
}