.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px); /* Altura total menos o header */
}

.loginForm {
    background-color: var(--color-surface);
    padding: 2.5rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    width: 100%;
    max-width: 400px;
    border: 1px solid var(--color-border);
}

.loginForm h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 2rem;
    color: var(--color-text-primary);
}

.inputGroup {
    margin-bottom: 1.5rem;
}

.inputGroup label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 500;
    color: var(--color-text-secondary);
}

.inputGroup input {
    width: 100%;
    padding: 0.8rem 1rem;
    font-size: 1rem;
    border-radius: 8px;
    border: 1px solid var(--color-border);
}

.btnSubmit {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    background-color: var(--color-primary-dark);
    color: white;
    cursor: pointer;
    margin-top: 1rem;
}