:root {
    --color-primary: #3E8B94;
    --color-primary-dark: #3F5943;
    --color-background: #F8F7F5;
    --color-surface: #FFFFFF;
    --color-text-primary: #333333;
    --color-text-secondary: #888888;
    --color-accent: #A4613A;
    --color-border: #EAEAEA;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--color-background);
    color: var(--color-text-primary);
    overflow: hidden;
}